* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: auto;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* Header */
header {
    background: url('../img/bg1.jpg') #000;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: #FFF;
    padding-bottom: 9px;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header .menu li {
    list-style: none;
    display: inline-block;
}

header .menu a:hover {
    border-bottom: 2px solid #FFF;
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    display: inline-block;
    padding: 20px 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}


header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    font-weight: 300;
    color: #FFF;
    margin: 0;
}

header .contenedor-texto .texto .titulo {
    font-size: 50px;
    margin-bottom: 10px;
/*    line-height: 50px;*/
}

header .contenedor-texto .texto .nombre {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Main */

.main > * {
    padding-top: 45px;
    padding-bottom: 60px;
}

.main .acerca-de {
    text-align: center;
    
}

.main .acerca-de .foto img {
    border-radius: 100px;
    vertical-align: middle;
}

.titulo {
    font-size: 2em;
    font-weight: 400;
    color: #dd820d;
    text-align: center;
}

.main .datos-personales .titulo {
    color: #18263c;
}

.main .datos-personales {
    background: #f2f2f2;
}

.main .educacion .titulo {
    color: #138310;
}

.main .educacion .contenedor .info-institucion,
.main .habilidades-tecnicas .contenedor,
footer .contenedor,
.main .habilidades-tecnicas .contenedor .grupo-habilidades {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.main .educacion .contenedor .info-institucion .foto {
    width: 30%;
    margin: auto;
}

.main .educacion .contenedor .info-institucion .foto img {
    width: 70%;
    display: block;
    margin: auto;
}

.main .educacion .contenedor .info-institucion .informacion {
    width: 70%;
}

.main .educacion .contenedor .info-institucion .institucion {
    color: #0008c9;
}

.main .educacion .contenedor .info-institucion .materias li {
    list-style: square;
    line-height: 30px;
}

.main .habilidades-tecnicas {
    background-color:rgba(203, 232, 237, 0.38);
}

.main .habilidades-tecnicas .contenedor {
    overflow: visible;
}

.main .habilidades-tecnicas .contenedor .titulo {
    width: 100%;
    color: darkblue;
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades {
    padding-bottom: 20px;
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad {
    width: 180px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 2px 5px rgba(181, 181, 181, 0.57);
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad .valor {
    background: #0d2565;
    border-radius: 25px;
    color: #FFF;
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad .valor,
.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad .nombre-habilidad {
    padding: 0 19px 0 19px;
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad .nombre-habilidad {
    width: 90%;
    margin-left: -20px;
}

.main .habilidades-tecnicas .contenedor .grupo-habilidades .habilidad .nombre-habilidad p {
    text-align: center
}

/* Footer */
footer {
    background-color: #000;
    color: #FFF;
}

footer .contenedor {
    padding: 10px 0;
}

footer .contenedor .info-autor {
    width: 50%;
}

footer .contenedor .derechos-reservados {
    width: 50%;
    text-align: right;
}

/* Media Queries */
@media screen and (max-width: 800px) {

    header .menu {
        text-align: center;
    }

    footer .contenedor .derechos-reservados, footer .contenedor .info-autor {
        width: 100%;
        text-align: left;
    }

}